@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="hero is-light">
        <div class="hero-body">
            <h1 class="title">Welcome to Corezine</h1>
            <p class="subtitle">Learn about <a href="https://docs.microsoft.com/aspnet/core" class="has-text-link">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</section>
